<app-nav-bar></app-nav-bar>
<h1>Accueil</h1>
<div style="display: flex;">
    <p-card>
        <i class="pi pi-users" style="font-size: 2rem; margin-right: 15px;"></i>
        <label>Nombres de Client : {{this.numberOfClients}}</label>
    </p-card>
    <p-card>
        <i class="pi pi-folder-open" style="font-size: 2rem; margin-right: 15px;"></i>
        <label>Nombres de Compte : {{this.numberOfAccounts}}</label>
    </p-card>
    <p-card>
        <i class="pi pi-euro" style="font-size: 2rem; margin-right: 15px;"></i>
        <label>Solde Cumulé: {{this.amountOfMoney}}</label>
    </p-card>
    <p-card>
        <i class="pi pi-arrow-right-arrow-left" style="font-size: 2rem; margin-right: 15px;"></i>
        <label>Nombres de Virement: {{this.numberOfTransfers}}</label>
    </p-card>
</div>