<app-nav-bar></app-nav-bar>
<h1>Création Compte Client :</h1>

    <p-dropdown [options]="clients" [(ngModel)]="selectedClient" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Client">
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
                <div>{{ selectedOption?.firstname + ' ' + selectedOption?.lastname }}</div>
            </div>
        </ng-template>
        <ng-template let-client pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div>{{ client?.firstname + ' ' + client?.lastname }}</div>
            </div>
        </ng-template>
    </p-dropdown>
    
