<app-nav-bar></app-nav-bar>
<h1>Détail Client : {{client?.firstname}}  {{client?.lastname}}</h1>
<p-card styleClass="user-form" class="flex justify-content-center">
    <p-table [value]="comptes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Solde</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compte>
            <tr>
                <td>{{ compte.id }}</td>
                <td>{{ compte.numero }}</td>
                <td>{{ compte.accountName }}</td>
                <td>{{ compte.balance }}</td>
                <td>
                    <button type="button" style="margin-right: 15px;" pButton icon="pi pi-search" (click)="goToDetail('virements/liste',this.client!,compte)"></button>
                    <button type="button" style="margin-right: 15px;" severity="danger" pButton icon="pi pi-trash" (click)="deleteCompte(compte)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-toast></p-toast>
</p-card>