<app-nav-bar></app-nav-bar>
<h1>Détail Client : {{clients?.firstname}}  {{clients?.lastname}}</h1>
<p-card styleClass="user-form" class="flex justify-content-center">
    <p-table [value]="comptes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Solde</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compte>
            <tr>
                <td>{{ compte.id }}</td>
                <td>{{ compte.numero }}</td>
                <td>{{ compte.accountName }}</td>
                <td>{{ compte.balance }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>